# -r ./requirements/base.txt

# Base
django==4.2.*
djangorestframework==3.14.*
django-environ==0.11.*
django-extensions==3.2.*

# Security
argon2-cffi==23.1.*


# Database
psycopg[binary]==3.1.*    # TODO: Use c in production!


# Server
gunicorn==21.2.*
whitenoise==6.5.*
django-cors-headers==4.3.*
werkzeug==3.0.*

django-debug-toolbar==4.3.*
